@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.147 0.003 70.0042531689235);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.147 0.003 70.0042531689235);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.147 0.003 70.0042531689235);
  --primary: oklch(0.658 0.152 58.43869769489926);
  --primary-foreground: oklch(0.963 0.002 69.62812807159186);
  --secondary: oklch(0.890 0.017 69.45761251789521);
  --secondary-foreground: oklch(0.222 0.016 68.7485632290397);
  --muted: oklch(0.890 0.017 69.45761251789521);
  --muted-foreground: oklch(0.583 0.065 67.83507134565752);
  --accent: oklch(0.829 0.062 68.67927294080901);
  --accent-foreground: oklch(0.231 0.033 66.80882484494246);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.853 0.023 69.3722327024421);
  --input: oklch(0.853 0.023 69.3722327024421);
  --ring: oklch(0.658 0.152 58.43869769489926);
  --chart-1: oklch(0.658 0.152 58.43869769489926);
  --chart-2: oklch(0.744 0.122 65.74077817143919);
  --chart-3: oklch(0.795 0.075 68.29574401634734);
  --chart-4: oklch(0.497 0.115 58.3779253082727);
  --chart-5: oklch(0.372 0.081 60.851410552768975);
  --sidebar: oklch(0.890 0.017 69.45761251789521);
  --sidebar-foreground: oklch(0.222 0.016 68.7485632290397);
  --sidebar-primary: oklch(0.658 0.152 58.43869769489926);
  --sidebar-primary-foreground: oklch(0.963 0.002 69.62812807159186);
  --sidebar-accent: oklch(0.829 0.062 68.67927294080901);
  --sidebar-accent-foreground: oklch(0.231 0.033 66.80882484494246);
  --sidebar-border: oklch(0.853 0.023 69.3722327024421);
  --sidebar-ring: oklch(0.658 0.152 58.43869769489926);
}

.dark {
  --background: oklch(0.223 0.019 68.50430323760973);
  --foreground: oklch(0.963 0.002 69.62812807159186);
  --card: oklch(0.269 0.025 68.32307965080044);
  --card-foreground: oklch(0.963 0.002 69.62812807159186);
  --popover: oklch(0.269 0.025 68.32307965080044);
  --popover-foreground: oklch(0.963 0.002 69.62812807159186);
  --primary: oklch(0.694 0.152 60.570131132401094);
  --primary-foreground: oklch(0.963 0.002 69.62812807159186);
  --secondary: oklch(0.278 0.022 68.58771550516617);
  --secondary-foreground: oklch(0.964 0.006 69.59431036244631);
  --muted: oklch(0.278 0.022 68.58771550516617);
  --muted-foreground: oklch(0.733 0.025 69.28820063024156);
  --accent: oklch(0.406 0.069 65.35380591880606);
  --accent-foreground: oklch(0.966 0.012 69.52518570264908);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.387 0.040 68.04651110553503);
  --input: oklch(0.387 0.040 68.04651110553503);
  --ring: oklch(0.694 0.152 60.570131132401094);
  --chart-1: oklch(0.694 0.152 60.570131132401094);
  --chart-2: oklch(0.784 0.122 66.21141744618663);
  --chart-3: oklch(0.845 0.094 67.86912270754867);
  --chart-4: oklch(0.524 0.103 63.222960397750896);
  --chart-5: oklch(0.406 0.069 65.35380591880606);
  --sidebar: oklch(0.356 0.036 68.1022019563236);
  --sidebar-foreground: oklch(0.963 0.002 69.62812807159186);
  --sidebar-primary: oklch(0.694 0.152 60.570131132401094);
  --sidebar-primary-foreground: oklch(0.963 0.002 69.62812807159186);
  --sidebar-accent: oklch(0.406 0.069 65.35380591880606);
  --sidebar-accent-foreground: oklch(0.966 0.012 69.52518570264908);
  --sidebar-border: oklch(0.387 0.040 68.04651110553503);
  --sidebar-ring: oklch(0.694 0.152 60.570131132401094);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}